<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sealab.cs.umanitoba.com.studentrecordkeeper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Record Manager"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Student Record Manager"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentDetail" />
        <activity
            android:name=".FileWriting"
            android:label="Read/Write to File"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
